<fieldset class="roster">
  <% r.each do |rr| %>
  <%= rr.label :name %>
  <%#= r.select(:name, Roster.where(:league_id => @league.id).all.collect{|rr| [rr.name, rr.id]}, {:promt => "Select Name"}) %>

  <div>  
    <%= r.fields_for :roster_players do |rp| %>
      <%= render 'rp_fields', rp: rp %>
    <% end %>
  </div>
  <% end %>

</fieldset>