<h1><%= @roster.name %>'s Players </h1>

<div>
  <table id="players_list">
    <th>Player Name</th>
    <th>Total Points</th>
    <% @roster_players.each do |r| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= link_to r.name, roster_path(r.id) %> <br></td>
          <td><%= r.total_points != nil ? r.total_points : 0  %></td>
        </tr>
    <% end%>   
  </table>
</div>