<h1>Players</h1>
<div>
  <table id="players_list">
    <th>Player Name</th>
    <th>Total Points</th>
    <% @players.each do |p| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= link_to p.name, player_path(p.id) %> <br></td>
          <td><%= p.total_points != nil ? p.total_points : 0  %></td>
        </tr>
    <% end%>   
  </table>
</div>